[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "survivalPLANN"]
	path = survivalPLANN
	url = https://github.com/chupverse/survivalplann
